<h2 ng-init="showUsers()">Users </h2>
<ul class="nav nav-tabs">
   <li ng-class="{active: isSelected(1)}"><a href ng-click="selectTab(1);showUsers()">Show</a></li>
   <li ng-class="{active: isSelected(2)}"><a href ng-click="selectTab(2)">Add</a></li>
</ul>

<div ng-show="isSelected(1)">
  	<hr>
  	<h4>Edit/Show Users</h4>
  	<hr>
  	<table id="usersTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Role</th>
                <th>Manager</th>
            </tr>
        </thead>
    </table>
    <button id="deleteuser" class="btn btn-primary col-sm-2 col-sm-offset-2" ng-click="deleteUser()">Delete Selected</button>
    <button class="btn btn-primary col-sm-2 col-sm-offset-1" ng-click="editUser();assignbranch=false" data-toggle="modal" data-target="#userModal">Edit Selected</button>
	<button class="btn btn-primary col-sm-2 col-sm-offset-1" ng-click="getUserDetails()" data-toggle="modal" data-target="#userDetailsModal">View Details</button>
</div>

<div ng-show="isSelected(2)">
  	<hr>
  	<h4>Add User</h4>
  	<hr>
  	{{message}}
  	<form role="form">
	  	<div class="form-group">
			<label for="name">Name:</label> 
			<input type="text" class="form-control" id="name" ng-model="name">
		</div>
		<div class="form-group">
			<label for="email">Email:</label> 
			<input type="text" class="form-control" id="email" ng-model="email">
		</div>
		<div class="form-group">
			<label for="contact">Contact Number:</label> 
			<input type="text" class="form-control" id="contact" ng-model="contact">
		</div>
		<div class="form-group">
			<label for="address">Address:</label> 
			<textarea class="form-control" rows="5" id="address" ng-model="address"></textarea>
		</div>
		<div class="form-group">
			<label for="role">Select Role:</label> 
			<select class="form-control selectpicker" id="role" ng-model="role">
			    <option>Admin</option>
			    <option>Manager</option>
			    <option>Representative</option>
			 </select>
		</div>
		<div class="form-group">
			<label for="manager">Manager ID:</label> 
			<input type="text" class="form-control" id="manager" ng-model="manager">
		</div>
		<button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4" ng-click="addUser()">Add User</button>
	</form>	
</div>


<div class="modal fade" id="userModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit this Customer</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
				  	<div class="form-group">
						<label for="name">Name:</label> 
						<input type="text" class="form-control" id="name" ng-model="name" value="{{name}}">
					</div>
					<div class="form-group">
						<label for="email">Email:</label> 
						<input type="text" class="form-control" id="email" ng-model="email" value="{{email}}">
					</div>
					<div class="form-group">
						<label for="contact">Contact Number:</label> 
						<input type="text" class="form-control" id="contact" ng-model="contact" value="{{contact}}">
					</div>
					<div class="form-group">
						<label for="address">Address:</label> 
						<textarea class="form-control" rows="5" id="address" ng-model="address" value={{address}}></textarea>
					</div>
					<div class="form-group">
						<label for="role">Select Role:</label> 
						<select class="form-control selectpicker" id="role" ng-model="role" value="{{role}}">
						    <option>Admin</option>
						    <option>Manager</option>
						    <option>Representative</option>
						 </select>
					</div>
					<div class="form-group">
						<label for="manager">Manager ID:</label> 
						<input type="text" class="form-control" id="manager" ng-model="manager" value="{{manager}}">
					</div>
					<div class="form-group">
						<label>Assign user to a branch ? <input type="checkbox" ng-model="assignbranch" ng-change="assignBranchToUser()"></label>
					</div>
					<div class="form-group assignBranch" ng-show="assignbranch">
						<label>Assign to:</label>
						<select class="form-control" ng-model="branchId" data-ng-options="a.id as a.place for a in branches">
						</select>
					</div>
				</form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateUser()">Save changes</button>
            </div>
        </div>
    </div>
</div> 
 
 
 <button id="error" data-toggle="modal" data-target="#raoErrorModal" hidden>Error Details</button>
<div class="modal fade" id="raoErrorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error occurred</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
				 	<div class="form-group">
						<label>Error Code:</label> 
						<label>{{errorCode}}</label> 
					</div>
				 	<div class="form-group">
						<label>Error message:</label> 
						<label>{{errorMessage}}</label> 
					</div>
				 </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="userDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Details</h4>
            </div>
            <!-- Modal Body -->
            <div class="col-sm-6">
	           	<table class="table table-hover">
				    <tbody>
				      <tr>
				        <td>ID</td>
				        <td>{{id}}</td>
				      </tr>
				      <tr>
				        <td>Name</td>
				        <td>{{name}}</td>
				      </tr>
				      <tr>
				        <td>Email</td>
				        <td>{{email}}</td>
				      </tr>
				      <tr>
				        <td>Contact</td>
				        <td>{{contact}}</td>
				      </tr>
				      <tr>
				        <td>Address</td>
				        <td>{{address}}</td>
				      </tr>
				      <tr>
				        <td>Role</td>
				        <td>{{role}}</td>
				      </tr>
				    </tbody>
				  </table>
                </div>
                <div class="col-sm-12">
                	<h4>Manager Details</h4>
                	<table class="table table-hover">
				    <tbody>
				      <tr>
				        <td>Name</td>
				        <td>{{managerName}}</td>
				      </tr>
				      <tr>
				        <td>Email</td>
				        <td>{{managerEmail}}</td>
				      </tr>
				      <tr>
				        <td>Contact</td>
				        <td>{{managerContact}}</td>
				      </tr>
				      <tr>
				        <td>Address</td>
				        <td>{{managerAddress}}</td>
				      </tr>
				    </tbody>
				  </table>
                </div>
                
                <div class="col-sm-12">
                	<h4>Branch Details</h4>
                	<table class="table table-hover">
				    <tbody>
				      <tr>
				        <td>Place</td>
				        <td>{{branchPlace}}</td>
				      </tr>
				      <tr>
				        <td>Pincode</td>
				        <td>{{branchPincode}}</td>
				      </tr>
				      <tr>
				        <td>Contact</td>
				        <td>{{branchContact}}</td>
				      </tr>
				      <tr>
				        <td>Address</td>
				        <td>{{branchAddress}}</td>
				      </tr>
				    </tbody>
				  </table>
                </div>
                <div class="col-sm-12">
                	<h4>Rao Details</h4>
                	<table class="table table-hover">
	                	<thead>
					      <tr>
					        <th>ID</th>
					        <th>Order Number</th>
					        <th>Website ID</th>
					        <th>Customer ID</th>
					        <th>Total Amount</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="rao in raos">
					        <td>{{rao.id}}</td>
					        <td>{{rao.orderNumber}}</td>
					        <td>{{rao.websiteId}}</td>
					        <td>{{rao.customerId}}</td>
					        <td>{{rao.total}}</td>
					      </tr>
					    </tbody>
				  </table>
                </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
            </div>
        </div>
    </div>
</div>