<h2 ng-init="showCustomers()">Customers</h2>
<ul class="nav nav-tabs">
	<li ng-class="{active: isSelected(1)}"><a href ng-click="selectTab(1);showCustomers()">Show</a></li>
    <li ng-class="{active: isSelected(2)}"><a href ng-click="selectTab(2)">Add</a></li>
</ul>

<div ng-show="isSelected(1)">
  	<hr>
  	<h4>Show/Edit Customer</h4>
  	<hr>
  	<table id="customerTable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
            </tr>
        </thead>
    </table>
    <button id="deletecustomer" class="btn btn-primary col-sm-2 col-sm-offset-2" ng-click="deleteCustomer()">Delete Selected</button>
    <button class="btn btn-primary col-sm-2 col-sm-offset-1" ng-click="editcustomer()" data-toggle="modal" data-target="#customerModal">Edit Selected</button>
    <button class="btn btn-primary col-sm-2 col-sm-offset-1" ng-click="getCustomerDetails()" data-toggle="modal" data-target="#customerDetailsModal">Details</button>
</div>


<div ng-show="isSelected(2)">
  	<hr>
  	<h4>Add Customer</h4>
  	<hr>
  	 <form role="form">
	 	<div class="form-group">
			<label for="customername">Customer Name:</label> 
			<input type="text" class="form-control" id="customername" ng-model="customername">
		</div>
	 	<div class="form-group">
			<label for="customeremail">Customer Email:</label> 
			<input type="text" class="form-control" id="customeremail" ng-model="customeremail">
		</div>
		<div class="form-group">
			<label for="customernumber">Customer Mobile Number:</label> 
			<input type="text" class="form-control" id="customernumber" ng-model="customernumber">
		</div>
		<div class="form-group">
			<label for="customeraddress">Customer Details:</label>
			<textarea class="form-control" rows="5" id="customeraddress" ng-model="customeraddress"></textarea>
		</div>
		<button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4" ng-click="createCustomer()">Add Customer</button>
	 </form>
</div>




<div class="modal fade" id="customerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit this Customer</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
				 	<div class="form-group">
						<label for="customername">Customer Name:</label> 
						<input type="text" class="form-control" id="customername" ng-model="customername" value="{{customername}}">
					</div>
				 	<div class="form-group">
						<label for="customeremail">Customer Email:</label> 
						<input type="text" class="form-control" id="customeremail" ng-model="customeremail" value="{{customeremail}}">
					</div>
					<div class="form-group">
						<label for="customernumber">Customer Mobile Number:</label> 
						<input type="text" class="form-control" id="customernumber" ng-model="customernumber" value="{{customernumber}}">
					</div>
					<div class="form-group">
						<label for="customeraddress">Customer Details:</label>
						<textarea class="form-control" rows="5" id="customeraddress" ng-model="customeraddress" value={{customeraddress}}></textarea>
					</div>
				 </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateCustomer()">Save changes</button>
            </div>
        </div>
    </div>
</div> 



<div class="modal fade" id="customerDetailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <!-- Modal Body -->
            <div class="col-sm-12">
               	<h4>Customer Details</h4>
               	<table class="table table-hover">
				    <tbody>
				      <tr>
				        <td>ID</td>
				        <td>{{customerid}}</td>
				      </tr>
				      <tr>
				        <td>Name</td>
				        <td>{{customername}}</td>
				      </tr>
				      <tr>
				        <td>Email</td>
				        <td>{{customeremail}}</td>
				      </tr>
				      <tr>
				        <td>Contact</td>
				        <td>{{customernumber}}</td>
				      </tr>
				      <tr>
				        <td>Address</td>
				        <td>{{customeraddress}}</td>
				      </tr>
				    </tbody>
			  	</table>
               </div>
               <div class="col-sm-12">
                	<h4>Rao Details</h4>
                	<table class="table table-hover">
	                	<thead>
					      <tr>
					        <th>ID</th>
					        <th>Order Number</th>
					        <th>Website ID</th>
					        <th>Customer ID</th>
					        <th>Booked By User</th>
					        <th>Order Date</th>
					        <th>Total Amount</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="rao in raos">
					        <td>{{rao.id}}</td>
					        <td>{{rao.orderNumber}}</td>
					        <td>{{rao.websiteId}}</td>
					        <td>{{rao.customerId}}</td>
					        <td>{{rao.userId}}</td>
					        <td>{{rao.orderDate | date:'dd-MM-yyyy'}}</td>
					        <td>{{rao.total}}</td>
					      </tr>
					    </tbody>
				  </table>
                </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
                <button type="button" class="btn btn-primary" ng-click="updateCustomer()">Save changes</button>
            </div>
        </div>
    </div>
</div>



<button id="error" data-toggle="modal" data-target="#customerErrorModal" hidden>Error Details</button>
<div class="modal fade" id="customerErrorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error occurred</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
				 	<div class="form-group">
						<label>Error Code:</label> 
						<label>{{errorCode}}</label> 
					</div>
				 	<div class="form-group">
						<label>Error message:</label> 
						<label>{{errorMessage}}</label> 
					</div>
				 </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">Close</button>
            </div>
        </div>
    </div>
</div>



		