<!DOCTYPE html>
<html lang="en">
<head>
  <title>ENet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="prasanna-dashboard.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  
</head>
<body ng-app='enetDashboardApp'>
	<div class="container-fluid">
	  <div class="row header">
	  	<div class="col-sm-4">
		    <h1>ENet Dashboard </h1>
		    <p>Resize this responsive page to see the effect!</p> 
		    
	    </div>
	    <div class="col-sm-8" >
	    	
	    	<button class="btn btn-primary glyphicon glyphicon-user pull-right" style="color:yellow;" data-toggle="modal" data-target="#profileModal"></button>
	    	<span class="pull-right" style="padding-right:10px; color:yellow;" >Welcome User</span>
	    	
	    	
	    	<div class="modal fade" id="profileModal">
			    <div class="modal-dialog">
			        <div class="modal-content" ng-controller="EditProfileController">
			            <!-- Modal Header -->
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Edit Profile {{5*5}} {{message}}</h4>
			            </div>
			            <!-- Modal Body -->
			            <div class="modal-body">
			                <form role="form">
							  	<div class="form-group">
									<label for="name">Name:</label> 
									<input type="text" class="form-control" id="name" ng-model="name" value={{name}}>
								</div>
								<div class="form-group">
									<label for="email">Email:</label> 
									<input type="text" class="form-control" id="email" ng-model="email" disabled value={{email}}>
								</div>
								<div class="form-group">
									<label for="contact">Contact Number:</label> 
									<input type="text" class="form-control" id="contact" ng-model="contact" value={{contact}}>
								</div>
								<div class="form-group">
									<label for="address">Address:</label> 
									<textarea class="form-control" rows="5" id="address" ng-model="address" value={{address}}></textarea>
								</div>
								<div class="form-group">
									<button class="btn btn-primary center-block" ng-click="showpass=true" id="updatePwd">Update Password</button>
								</div>
								<div class="form-group" ng-show="showpass">
									<label for="currentPassword">Current Password:</label> 
									<input type="password" class="form-control" id="currentPassword" ng-model="password">
									<span ng-show="invalidPassword">Your password is wrong</span>
								</div>
								<div class="form-group" ng-show="showpass">
									<label for="newPassword">New Password:</label> 
									<input type="password" class="form-control" id="newPassword" ng-model="newPassword">
								</div>
								<div class="form-group" ng-show="showpass">
									<label for="confirmPassword">Confirm Password:</label> 
									<input type="password" class="form-control" id="confirmPassword" ng-model="confirmPassword">
									<span ng-show="canShow()">Passwords do not match.</span>
								</div>
							</form>	
			            </div>
			            <!-- Modal Footer -->
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseMain">Close</button>
			                <button type="button" class="btn btn-primary" ng-click="editProfile()">Save changes</button>
			            </div>
			        </div>
			    </div>
			</div> 
	    	
	    	
	    	
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-2 navigation" ng-controller="LogoutController">
	  		<ul class="nav nav-pills nav-stacked">
				<li ng-class="{active:isSelected(1)}"><a href="#" ng-click="selectTab(1)">Dashboard</a></li>
				<li ng-class="{active:isSelected(2)}"><a href="#users" ng-click="selectTab(2)">Users</a></li>
				<li ng-class="{active:isSelected(3)}"><a id="createrao" href="#createrao" ng-click="selectTab(3)">Create RAO</a></li>
				<li ng-class="{active:isSelected(4)}"><a href="#websites" ng-click="selectTab(4)">Websites</a></li>
				<li ng-class="{active:isSelected(5)}"><a href="#customers" ng-click="selectTab(5)">Customers</a></li>
				<li ng-class="{active:isSelected(6)}"><a href="#branches" ng-click="selectTab(6)">Branches</a></li>
				<li ng-class="{active:isSelected(7)}"><a href="#rao" ng-click="selectTab(7)">View RAO</a></li>
				<li><a href="#" id="logout" ng-click="logout()">Logout</a></li>
			</ul>
	  	</div>
	  	<div class="col-sm-10 details">
	  		<div ng-view></div>
	  	</div>
	  </div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
	<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript" src="js/jquery.canvasjs.min.js"></script> 
	
	<script src="js/prasanna-dashboard.js"></script>
	
	
</body>
</html>
